/* This is the general styling */
* {
  font-family: helvetica;
  font-size: 22px
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
body {
  margin: 0;
}
/* This is the header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: black;
}
.top.nav li {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px 10px 9px 0px;
}
.top.nav li a {
  color: seashell;
  text-decoration: underline;
}
.logo img {
  height: 50px;
}
.logo {
  padding: 10px 0px 9px 10px;
}
/* This is the content section */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: block;
}
/* This is the first section */
.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.mission .mission-background {
  margin-top: 70px;
  height: 100%;
  width: 1200px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}
.mission .mission-headline {
  color: seashell;
  position: absolute;
  width: 1200px;
  text-align: center;
  display: block;
  top: 50%;
  transform: translateY(-50%); /* This one was added with some support from a Developer :P */
}
/* This is the second section */
.tea-headline {
  position: absolute;
  color: seashell;
  width: 1000px;
  text-align: center;
  position: relative;
}
.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 80px;
}
.offer {
  display: flex;
  justify-content: center;
}
.grid {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  background-color: none;
  text-align: center;
  color: seashell

}
.grid img {
  max-width: 100%;
  max-height: 200px;
}
.item {
  padding: 0px 15px;
}
.item h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* This is the third section */
.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.locations .locations-background {
  margin-top: 70px;
  height: 100%;
  width: 1200px;
  height: 500px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}
.locations .locations-headline {
  color: seashell;
  width: 1200px;
  text-align: center;
  display: block;
  top: 10%;
}
.locations-headline h2 {
  background-color: ;
}
.addresses {
  display: flex;
  justify-content: center;
  color: seashell;
  background-color: black;
  opacity: 1;
  width: 1020px;
  height: 100%;
  padding: 40px;
  top: 100px;
}
.address-details {
  display: block;
  width: 300px;
  height: 300px;
  text-align: center;
}
.locations-block {
  position: absolute;
  top: 100px;
}
/* This is the footer */
